.headerBackground{

	ul.toolbar{
		margin-top: 0px;
		margin-bottom: 10px;
		background: #F5F4EF;
		border: 1px solid #ddd;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.input-append{
		margin-bottom: 0px;
	}

	form{
		margin-right: 10px;
		margin-bottom: 10px;
	}
}