.headerBackground{

	.toolbar{
		margin-top: 0px;
		margin-bottom: 10px;
		border: 1px solid #ddd;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		a{
			color: #fff;
			font-size: .8em;
		}
	}

	.input-append{
		margin-bottom: 0px;
	}

	form{
		margin-right: 10px;
		margin-bottom: 10px;
	}

}