//methodist style guide colors

$red: #c60055;
$light-green: #cedd56;
$light-pink: #f389a2;
$green: #08b2b0;
$warm-red: #f04b3e;
$light-blue: #0ab4ef;
$orange: #ee2324;
$yellow: #ffca38;
$purple: #6d2889;
$green: #83c448;


$light-grey: #afb5ba;
$cool-grey: #555862;
$grey: #b0a9a6;
$dark-grey: #3a2a31;

//methodist lou colors 

$white: #fff;
$light-grey: #cfcfcf;
$grey: #748b94;
$nav-grey: #75828C;
$dark-grey: #414445;

$green: #007574;
$blue : #00689b;
$light-blue: #DDEBEF;
$link-blue: #08c;
$link-blue-hover: #005580;

//methodist icon colors 

$welcome: #009fbb;
$mobile: #006a31;
$erwait: #b40000;

