.btn-toolbar{
	margin-top: 0px;
	margin-bottom: 10px;
}

.btn.btn-nav {
	padding: 8px 14px;
}

.brand.brand-meth {
	text-indent: -9999px;
	width: 185px;
	height: 48px;
	padding: 0px;
	margin: 0px;

	i{
		margin-left: -5px;
	}
}

.aside-nav{
	width: 200px;
	margin-left: 10px;

	li{

	}

	li > a{
		color: $link-blue;
		font-size: 1.1em;
		padding: 1em .9em;
		font-weight: bold;
	}
}

.nav-pills>.active>a, 
.nav-pills>.active>a:hover, 
.nav-pills>.active>a:focus {
	background: $meth-blue;
}

.aside-nav.affix{
	background: white;
	top: 20px;
}

.navbar{
	margin-bottom: 10px;

	.nav>li>a{
		text-shadow: none;
		line-height: 1.3em;
		letter-spacing: -.05em;
		color: $dark-grey;
		border-radius: 5px;
		padding: 5px 10px;

		&:hover{
			background: $dark-grey;
			color: $white;

			.sub-title{
				color: $light-grey;
			}
		}

		&.brand{
			margin: 0px;
			padding: 0px;
		}

		.title{
			font-size: 1.2em;
			font-weight: 400;
			display: block;
		}

		.sub-title{
			font-size: .85em;
			display: block;
			color: $light-grey;
		}
	}

	.nav-main{
		padding: 5px;
		border-radius: 5px;

		&.pull-left{
			background: $light-blue;

			.sub-title{
				color: $grey;
			}
		}

		&.pull-right{
			background: $nav-grey;

			.title{
				color: $white;
			}
		}
	}

	form.navbar-search.pull-left 

		input.search-query {
			font-size: 1.1em;
			padding: 8px 5px;
			border-radius: 5px;
			width: 170px;
			border: 1px solid #666;
			position: relative;
			margin-left: 5px;
		}

		input.searchButton {
			position: absolute;
			right: 8px;
			top: 8px;
			width: 20px;
			height: 20px;
			text-indent: -9999px;
			border: none;
			background: url("../img/methodist/ico_Search.png") no-repeat;
		}

}

form.mobile-search {
	background: $nav-grey; 
	padding: 5px;
	border-radius: 5px;

	input.search-query {
		font-size: 1.1em;
		padding: 8px 5px;
		border-radius: 5px;
		border: 1px solid #666;
		position: relative;
		width: 98.4%;
	}

	input.searchButton {
		position: absolute;
		right: 14px;
		top: 14px;
		width: 20px;
		height: 20px;
		text-indent: -9999px;
		border: none;
		background: url("../img/methodist/ico_Search.png") no-repeat;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

	form.mobile-search {

		input.search-query {
			width: 96%;
		}
		
	}

}
