.sectionHeaderBackground{
	background: $white;
}

.sectionHeader{
	padding: 10px 0px;
}

.pageHeader{
	border-top: 1px solid $blue;
	padding: 5px 0px;
	background: $light-blue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}