.sectionHeaderBackground{
	background: $white;
}

.sectionHeader{
	padding: 10px 0px;
}

#breadcrumbs {
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 10px;

	ul{
		padding: 0px 10px;
		margin: 0 0 0px;
		list-style: none;
		display: table;
	}

	li::before {
		content: "> \0020";
		padding: 0px 5px 0px 0px;
		color: #ccc;
	}

	li {
		float: left;
		margin-left: 10px;
		font-size: 1.5em;
	}

	li>a{
		font-size: .85em;
	}

	li:first-child {
		display: none;
	}

	li:nth-child(2)::before {
		content: "";
		padding: 0;
		float: left;
	}
}

.pageTitle{
	border-top: 2px solid $blue;
	padding: 0px 0px 5px;
	background: $meth-blue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.section-nav{
	background: white;
	margin: 0px;
	padding: 0px;

	li{
		border-left: none;
	}

	li > a{
		padding: .8em 1em;
		font-size: 1.1em;
		color: $grey;
	}

	li:hover a{
		background-color: $meth-blue;
		color: white;
	}
}

$mlh-phone: "only screen and (max-width : 500px)";

@media #{$mlh-phone} {
	
	#breadcrumbs{
		
		li{ 
			margin-left: 0px;
		}
		
	  	li>a{
	  		display: none;
	  	}

	  	li::before {
			display: none;
		}
	}
}