$methodist-layout: smart;
@import "../img/methodist/*.png";

.socialIcons{
	list-style: none;
	margin-top: 10px;

	li{
		display: inline-block;
	}

}

.icoSocial{
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	cursor: pointer;
	background-color: #ddd;
	border-radius: 5px;
}

.logoMethodist{
	@include methodist-sprite(logo_Methodist);
	margin: 0px;
	width: 168px;
	height: 36px;
	text-indent: -9999px;
	cursor: pointer;
	display: block;
	padding: 5px 10px;
}

.logoBeTreatedWell{
	@include methodist-sprite(logo_MethodistBTW);
	margin: 0px;
	width: 274px;
	height: 34px;
	text-indent: -9999px;
	display: block;
}

.icoFacebook{
	@include socialIcon("inherit", $facebook);
	@include methodist-sprite(ico_Facebook);
}

.icoTwitter{
	@include socialIcon("inherit", $twitter);
	@include methodist-sprite(ico_Twitter);
}

.icoYouTube{
	@include socialIcon("inherit", $youtube);
	@include methodist-sprite(ico_YouTube);
}