.well-blue{
	margin-top: 20px;
	color: white;
	background-color: $meth-blue;
	border-color: $blue;
}

.widget{
	border: 0px;
}

.widgetIcon{
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 10px;
	background: $dark-grey;
	text-indent: -9999px;
	margin: 5px 0px;
}

.widgetContent{
	margin-left: 75px;
}

.erTime{
	color: $erwait;
	margin: 0px;
}

.eventWidget{

	.eventDisplay {
		background: $light-blue;

		.eventMonth {
			color: $white;
			background: $red;
			padding: 2px 5px;
			margin-bottom: 4px;
			font-size: .9em;
			display: block;
		}

		.eventDay {
			color: $blue;
			padding: 2px 5px;
			font-size: 1.4em;
		}
	}
}

